@keyframes animacion-404 {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
}
@keyframes animacion-sombra {
    0%, 100% {
        background-color: #fff3;
        width: 400px;
      }
      50% {
        background-color: #fff2;
        width: 300px;
      }
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: brightness(.2);
    height: 80vh;
    border-radius: 15px;
}

.error{
    animation: animacion-404 2s infinite ease;
}

.sombra{
    height: 30px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    animation: animacion-sombra 2s infinite ease;
}

.titulo{
    font-size: 3em;
    font-weight: bold;
}

@media (max-width: 768px) {
  
  .error{
    margin-top: 40px;
  }

  .sombra{
    margin-top: 350px;
  }

  
  .titulo{
    font-size: 3ex;
    font-weight: bold;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .titulo{
    font-size: 3em;
    font-weight: bold;
  }
}

