.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formulario{
    backdrop-filter: blur(20px);
    width: 40vw;
    height: 80vh;
    border: 1px solid #044;
    background-color: #0119;
    transition: all .2s ease;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    .container{
        margin-top: 70%;
        margin-bottom: 70%;
        flex-direction: column-reverse;
    }
    .formulario{
        width: 95%;
        height: 80vh !important;
    }
    .formulario > form{
        width: 100%;
        height: 100%;
    }
}

.formulario > form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
    align-items: center;
}

.formulario:hover{
    border: 1px solid #055;
}

.formulario > .title{
    font-size: 2em;
    font-weight: bold;
}

.title{
    font-size: 2em; 
    margin: 30px 0;
    margin-left: 30px;
    font-weight: bold;
}

.datos{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;
}

.datos > input{
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    color: black;
}

.consultarAsistencia{
    padding: 5px;
    margin-top: 50px;
    transition: all .2s ease;
    outline: 1px solid transparent;
    background-color: transparent;
}
.consultarAsistencia:hover{
    background-color: #fff;
    color: #011;
}

.respuestaConsulta{
    backdrop-filter: blur(20px);
    width: 60vw;
    height: 80vh;
    border: 1px solid #044;
    background-color: #0119;
    transition: all .2s ease;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media (max-width:768px) {
    .respuestaConsulta{
        width: 95%;
    }
}

.respuestaConsulta > .response {
    width: 100%;
    text-align: center;
}

.respuestaConsulta > .response::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
    height: 10px;
}

.respuestaConsulta > .response::-webkit-scrollbar-thumb {
    background-color: #fff7; /* Color del thumb (agarre) */
    border-radius: 5px; /* Borde redondeado del thumb */
}

.respuestaConsulta > .response::-webkit-scrollbar-track {
    background-color: #fff3; 
    border-bottom: 1px white solid;
}

.scroll{
    overflow-y: scroll;
    height: 55vh;
}

.tabla{
    width: 50vw;
}

@media (max-width:768px) {
    .scroll{
        width: 100%;        
    }
    .respuestaConsulta{
        padding: 10px;
    }
    .headingTabla, .estructuraTabla{
        width: 100%;
        font-size: 10px !important;
        padding: 0 !important;
    }
    .tabla{
        width: 100%;
    }
}

.tabla > .estructuraTabla{
    gap: 40px;
}

.headingTabla{
    z-index: 99;
}

.titulosTabla{
    background-color: #011;
    border: 1px solid white;
    position: sticky;
    top: 0;
}

.respuestaTabla{
    background-color: #fff3;
    color: #fff;
}

.respuestaTabla, .titulosTabla {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.eliminarAsistencia{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    background-color: #fff3;
    transition: all .1s ease;
}

.eliminarAsistencia:hover{
    background-color: #400;
    cursor: pointer;
}

@media (max-width:768px) {
    .formulario{
        width: 90vw;
        height: 50vh;
    }
}


.container input{
    outline: none;
}

.i{
    color: #aaa;
}

.NA > h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
}