@keyframes blur-animation {
    0%, 100%{
        backdrop-filter: blur(5px);
    }
    50%{
        backdrop-filter: blur(15px);
    }
}

.container{
    animation: blur-animation 2s infinite ease;
    height: 80vh;
    border: 1px solid #888;
    transition: all .2s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container:hover{
    border: 1px solid #eee;
}

.title{
    font-weight: bold;
    font-size: 4em;
}

.encabezado{
    font-size: 1em;
}

@media (max-width: 768px) {
    .title{
        font-size: 3em;
        text-align: center;
    }
    .encabezado{
        text-align: center;
    }
}
  