
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    height: auto;
}
.contenido{
    height: 80vh;
    width: 80vw;
    background-color: #0119;
    border: 1px solid #044;
    transition: all .3s ease-in;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contenido:hover{
    border: 1px solid #055;
    backdrop-filter: blur(10px);
}
.title{
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    line-height: .1px;
}
.menu{
    height: 80vh;
    width: 15vw;
    background-color: #0119;
    border: 1px solid #044;
    transition: all .3s ease-in;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 0;
    overflow-x: hidden;
}

.links{
    transition: all .1s ease;
}

.links:hover{
    color : #888
}

.scrollArticulos{
    overflow: scroll;
    height: 85%;
    overflow-x: hidden;
}

.scrollArticulos::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

.scrollArticulos::-webkit-scrollbar-thumb {
    background-color: #fff7; /* Color del thumb (agarre) */
    border-radius: 5px; /* Borde redondeado del thumb */
}

.scrollArticulos::-webkit-scrollbar-track {
    background-color: #fff3; /* Color de fondo del track (rastro) */
    border-bottom: 1px white solid;
}

.card{
    width: auto;
    height: auto;
    /* border: 1px solid #077; */
    backdrop-filter: blur(10px);    
    transition: all .2s;
    background-color: #022;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    flex-direction: row;
    text-align: center;
}

@media (max-width:768px) {
    .contenido{
        display: flex;
        gap: 20px;
        width: auto;
    }
    .menu{
        width: 100vw;
    }
    .card{
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titulos{
        opacity: 0;
    }
}

.titulos{
    display: flex;
    width: auto;
    background-color: #033;
    justify-content: space-between;
    padding: 0 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid transparent;
    padding: 20px;
}
.buttons button{    
    transition: all .2s ease-in;
    outline: 1px solid transparent;
    padding: 0 5px;
}
.buttons .buttonBlue:hover{  
    color: #ccc;
}
.buttons .buttonGreen:hover{ 
    color: #ccc;
}
.buttons .buttonRed:hover{   
    color: #ccc;
}


.h2{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.nuevoArticulo{
    padding: 10px 0;
    display: flex;
    flex-direction: row-reverse;
}

.nuevoArticulo a{
    transition: all .2s ease-in-out;
    color: #fff;
}
.nuevoArticulo a:hover{
    color: #aaa;
}



/* DETALLES */

.contenidoDetalles{
    display: flex;
    align-items: center;
}

.containerDetalles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 85%;
    width: 100%;
}

.detallesGenerales{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    min-height: 15vh;
    background-color: #022;
    border: 1px solid #ddd;
}

.tablaContainer{
    height: 90%;
}

.tablaRegistros{
    width: 100%;
}

.titulosTabla{
    background-color: #011;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.atributosTabla{
    background-color: #ddd3;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

.atributosTabla:nth-child(3),
.atributosTabla:nth-child(5){
    background-color: #f102;
}

.atributosTabla:nth-child(2),
.atributosTabla:nth-child(4){
    background-color: #0e01;
}

.total{
    width: auto;
    padding: 5px 50px;
    border-top: 1px solid;
    border-left: 1px solid;

    display: flex;
    margin: auto 0 auto auto;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    background-color: #011;
}

.h1Total{
    text-align: center;
}



/* REPORTES */

.scrollReportes{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow-y: scroll;
    gap: 70px 0;
}

.bar{
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fffa;
    transition: all .2s ease;
    height: 80%;
    width: 80%;
}

.bar:hover{
    background-color: #fff;
}

.pie{
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fffa;
    transition: all .2s ease;
    height: 80%;
    width: 80%;
}

.pie:hover{
    background-color: #fff;
}

/* .reportePlanes, .reporteIngresos{
    width: 45%;
    height: 45%;   
} */

.reporteParrafo{
    width: 85%;
    display: flex;
    margin: auto;
    text-align: center;
}