.container{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f704;
    border: 1px solid #f40;
    backdrop-filter: blur(10px);
}

@media (max-width:992px) {
    .container{
        flex-direction: column-reverse;
        height: auto;
    }
    .container h1{
        font-size: 2em;
        text-align: center;
    }

    .campos > form > div > input[type=text]{
        width: 80vw;
    }
    .campos > form > div > input[type=number]{
        width: 80vw;
    }
    .button{
        width: auto;
    }
    .planesActuales{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listaPlanes{
        display: flex;
        width: 90vw;
    }
    .categoria{
        display: flex;
        width: 90vw;
    }
}

.container h1{
    position: absolute;
    top: 10px;
    font-weight: bold;
    font-size: 5ex;

}
.planesActuales{
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categoria{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #f407;
    padding: 10px;
}
.categoria > p{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.formulario{
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.campos > form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.campos > form > div{
    display: flex;
    flex-direction: column;
}
.campos > form > div > input[type=text]{
    width: 30vw;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: transparent;
    padding-left: 5px;
}
.campos > form > div > input[type=number]{
    width: 30vw;
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: transparent;
    padding-left: 5px;
}

.button{
    width:10vw;
    background-color: white;
    border: 1px solid black;
    color: #111;
    outline: transparent;
    cursor: pointer;
    padding: 5px 10px;
    transition: all .2s ease;
}
.button:hover{
    background-color: #aaa;
}
.volver{
    width: 10vw;
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    outline: transparent;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}
.listaPlanes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff3;
}
.scrollPlanes{
    max-height: 40vh;
    overflow-y: scroll;
}

.scrollPlanes::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

.scrollPlanes::-webkit-scrollbar-thumb {
    background-color: #fff7; /* Color del thumb (agarre) */
    border-radius: 5px; /* Borde redondeado del thumb */
}

.scrollPlanes::-webkit-scrollbar-track {
    background-color: #fff3; /* Color de fondo del track (rastro) */
    border-bottom: 1px white solid;
}

.listaPlanes p{
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.acciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.eliminar{
    cursor: pointer;
    transition: all .2s ease;
    outline: #f10;
}

.eliminar:hover{
    background-color: orangered;
}

.editar{
    cursor: pointer;
    transition: all .2s ease;
}

.editar:hover{
    background-color: #eee;
    color: #000;
}

.opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

@media (max-width: 992px) {

    .container{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .container > h1{
        text-align: center;
        font-size: 2em;
    }

    .planesActuales{
        width: auto;
    }

    .listaPlanes > p{
        width: 100%;
    }

    .campos > form > div > input[type=text]{
        width: 80vw;
    }
    .campos > form > div > input[type=number]{
        width: 80vw;
    }
    .button{
        width:80vw;
    }
    .button:hover{
        background-color: #aaa;
    }
    .volver{
        width: 80vw;
    }
}