.container{
    height: 100vh;
    width: 100vw;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title{
    font-size: 2em; 
    margin: 30px;
    margin-left: 30px;
    font-weight: bold;
}

.formulario{
    border: 1px solid #888;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    gap: 25px;
    backdrop-filter: blur(10px);
}

.inputs{
    display: flex;
    flex-direction: column;
}

.inputs > input{
    width: 35vw;
    height: 30px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
}

.select{
    display: flex;
    flex-direction: column;
}

.select > select{
    width: 35vw;
    height: 30px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
}

.registrarNuevo{
    padding: 5px;
    margin-top: 50px;
    transition: all .2s ease;
    outline: 1px solid transparent;
}
.registrarNuevo:hover{
    outline: 1px solid #333;
}

@media (max-width: 768px) {
    .container{
        margin-bottom: 30px;
    
    }
    .title{
        margin-top: 100px;
    }
    .formulario{
        border: 1px solid #888;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .inputs > input{
        width: 75vw;
        height: 30px;
        border-radius: 10px;
        color: black;
        padding-left: 10px;
    }
    .select > select{
        width: 75vw;
        height: 30px;
        border-radius: 10px;
        color: black;
        padding-left: 10px;
    }
}
  