.container{
    height: 80vh;
    background-color: #0009;
    border: 1px solid #333;
    transition: all .3s ease-in;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    padding: 40px;
    overflow-y: scroll;
}
.container:hover{
    border: 1px solid #999;
    backdrop-filter: blur(10px);
}

.card{
    min-width: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid #222;
    backdrop-filter: blur(10px);    
    transition: all .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.card:hover{
    border: 1px solid #eee;
    backdrop-filter: blur(20px);
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid transparent;
    padding: 20px;
}
.buttons button{    
    transition: all .2s ease-in;
    outline: 1px solid transparent;
}
.buttons button:hover{    
    outline: 1px solid #888;
}