.container{
    height: 80vh;
    background-color: #0009;
    border: 1px solid #333;
    transition: all .3s ease-in;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    overflow: hidden;
}
.container > .usuarios{
    height: 100vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    padding: 30px;
    overflow-x: hidden;
}
.container:hover{
    border: 1px solid #999;
    backdrop-filter: blur(10px);
}

.card{
    min-width: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid #444;
    backdrop-filter: blur(10px);    
    transition: all .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.cardRed{
    min-width: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid #500000;
    background-color: #4001;
    backdrop-filter: blur(10px);    
    transition: all .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card:hover{
    border: 1px solid #ccc;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 10px 5px #fff2;
}

@keyframes animation-borderRed {
    0%, 100%{
        border: 1px solid #500000;
    } 50%{
        border: 1px solid #dd0000;
    }
}
.cardRed:hover{
    animation: animation-borderRed 2s infinite ease;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 10px 5px #f004;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid transparent;
    padding: 20px;
}
.buttons button{    
    transition: all .2s ease-in;
    outline: 1px solid transparent;
    padding: 0 5px;
}
.buttons .buttonBlue:hover{    
    outline: 1px solid #05f;
    color: #05f;
}
.buttons .buttonGreen:hover{    
    outline: 1px solid #0f5;
    color: #0f5;
}
.buttons .buttonRed:hover{    
    outline: 1px solid #d00;
    color: #d00;
}

.inicioContainer{
    position: absolute;
    top: 0px;
}

.botonSubida{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 999;
    border-radius: 50%;
    background-color: #7771;
    bottom: 50px;
    right: 60px;
    transition: all .2s ease-in;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 2.5ex;
    color: #9995;

}
.botonSubida:hover{
    background-color: #aaa6;
    color: #aaa;
}

.filtrosContainer{
    width: 92vw;
    height: 5vh;

    display: flex;
    gap: 30px;
}
.filtrosContainer > input,
.filtrosContainer > select{
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: transparent;
    width: auto;
    height: 30px;
    padding: 15px;
    color: white;
}

.filtrosContainer > input::placeholder{
    color: white;
}
.filtrosContainer > select > option{
    color: black;
}