.container{
    height: 80vh;
    background-color: #0009;
    border: 1px solid #333;
    transition: all .3s ease-in;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    padding: 40px;
    overflow-y: scroll;
}
.container:hover{
    border: 1px solid #999;
    backdrop-filter: blur(10px);
}

.card{
    min-width: 200px;
    width: 300px;
    height: 300px;
    border: 1px solid #444;
    backdrop-filter: blur(10px);    
    transition: all .2s;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.card:hover{
    border: 1px solid #ccc;
    backdrop-filter: blur(20px);
    box-shadow: 0px 1px 10px 5px #fff2;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid transparent;
    padding: 20px;
}
.buttons button{    
    transition: all .2s ease-in;
    outline: 1px solid transparent;
    padding: 0 5px;
}
.buttons .buttonBlue:hover{    
    outline: 1px solid #05f;
    color: #05f;
}
.buttons .buttonGreen:hover{    
    outline: 1px solid #0f5;
    color: #0f5;
}
.buttons .buttonRed:hover{    
    outline: 1px solid #a00;
    color: #a00;
}
